# imbalanced dataset handling
# 1.UpSampling
# 2.Down Sampling

In [3]:
import numpy as np
import pandas as pd

In [4]:
# set the random seed for reporductivity
np.random.seed(123)
# create a dataframe with two classes
n_sample = 1000
class_0_ratio = 0.9
n_class_0 = int(n_sample * class_0_ratio)
n_class_1 = n_sample - n_class_0

In [5]:
n_class_0,n_class_1

(900, 100)

In [6]:
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

In [7]:
df = pd.concat([class_0,class_1]).reset_index(drop = True)

In [8]:
df

     feature_1  feature_2  target
0    -1.085631   0.551302       0
1     0.997345   0.419589       0
2     0.282978   1.815652       0
3    -1.506295  -0.252750       0
4    -0.578600  -0.292004       0
..         ...        ...     ...
995   1.376371   2.845701       1
996   2.239810   0.880077       1
997   1.131760   1.640703       1
998   2.902006   0.390305       1
999   2.697490   2.013570       1

[1000 rows x 3 columns]

In [9]:
df.head()

   feature_1  feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

In [10]:
df['target'].value_counts()

0    900
1    100
Name: target, dtype: int64

# Upsampling

In [16]:
df_minority = df[df['target']==1]
df_majority = df[df['target']==0]

In [17]:
df_minority.head()

     feature_1  feature_2  target
900   1.699768   2.139033       1
901   1.367739   2.025577       1
902   1.795683   1.803557       1
903   2.213696   3.312255       1
904   3.033878   3.187417       1

In [18]:
df_majority.head()

   feature_1  feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

In [19]:
# Upsampling perform

In [20]:
from sklearn.utils import resample

In [22]:
df_minority_upsample = resample(df_minority,
                                replace = True,
                                n_samples =len(df_majority),
                                random_state = 42
                               )

In [23]:
df_minority_upsample.shape

(900, 3)

In [24]:
df_minority_upsample.head()

     feature_1  feature_2  target
951   1.125854   1.843917       1
992   2.196570   1.397425       1
914   1.932170   2.998053       1
971   2.272825   3.034197       1
960   2.870056   1.550485       1

In [25]:
df_minority_upsample.value_counts()

feature_1  feature_2  target
1.005190   1.110089   1         19
1.915470   1.652041   1         18
3.701608   2.160889   1         18
2.902006   0.390305   1         16
3.013493   2.047240   1         16
                                ..
2.549697   3.095922   1          4
2.013560   2.847260   1          4
2.995595   2.475934   1          4
0.988356   1.835125   1          4
1.245992   2.946908   1          3
Length: 100, dtype: int64

In [26]:
df_minority_upsample['target'].value_counts()

1    900
Name: target, dtype: int64

In [27]:
df_upsmapled = pd.concat([df_majority,df_minority_upsample])

In [28]:
df_upsmapled['target'].value_counts()

0    900
1    900
Name: target, dtype: int64

In [29]:
df_upsmapled.tail()

     feature_1  feature_2  target
952   1.188902   2.189189       1
965   3.919526   1.980541       1
976   2.810326   3.604614       1
942   3.621531   2.168229       1
974   1.160887   2.489203       1

In [30]:
df_upsmapled.shape

(1800, 3)

# DownSampling

In [32]:
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

In [33]:
df = pd.concat([class_0,class_1]).reset_index(drop = True)

In [34]:
df

     feature_1  feature_2  target
0    -1.774224   0.285744       0
1    -1.201377   0.333279       0
2     1.096257   0.531807       0
3     0.861037  -0.354766       0
4    -1.520367  -1.120815       0
..         ...        ...     ...
995   2.677156   1.092048       1
996   2.963404   0.181955       1
997   1.621476   1.877267       1
998   3.429559   3.794486       1
999   3.532273   1.679490       1

[1000 rows x 3 columns]

In [35]:
df_minority = df[df['target']==1]
df_majority = df[df['target']==0]

In [40]:
df_majority_downsample = resample(df_majority,
                                replace = False,
                                n_samples =len(df_minority),
                                random_state = 42
                               )

In [41]:
df_majority_upsample

     feature_1  feature_2  target
70    0.786057   0.830076       0
827  -0.859775   0.174732       0
231  -0.012870  -0.735348       0
588  -0.297331  -0.351224       0
39    0.528702   1.508257       0
..         ...        ...     ...
398   1.013666   0.083496       0
76    0.164480  -1.808980       0
196  -1.576624   0.525893       0
631  -0.540147   0.610282       0
751  -0.168798  -0.831334       0

[100 rows x 3 columns]

In [43]:
df_majority_downsample.shape

(100, 3)

In [47]:
pd.concat([df_minority,df_majority_downsample])

     feature_1  feature_2  target
900  -0.643425   2.571923       1
901   1.551009   1.782767       1
902   1.641093   2.054318       1
903   2.133194   2.155998       1
904   1.355758   2.467810       1
..         ...        ...     ...
398   1.013666   0.083496       0
76    0.164480  -1.808980       0
196  -1.576624   0.525893       0
631  -0.540147   0.610282       0
751  -0.168798  -0.831334       0

[200 rows x 3 columns]

In [53]:
df_downsample = pd.concat([df_minority,df_majority_downsample])

In [54]:
df_downsample['target'].value_counts()

1    100
0    100
Name: target, dtype: int64