In [1]:
import pandas as pd

In [2]:
from sklearn.preprocessing import LabelEncoder

In [4]:
df = pd.DataFrame({'color':['red','blue','green','green','red','blue']})

In [5]:
df

   color
0    red
1   blue
2  green
3  green
4    red
5   blue

Create an instance of label encoder

In [6]:
encoder = LabelEncoder()

In [8]:
encoder.fit_transform(df['color'])

array([2, 0, 1, 1, 2, 0])

ordinal encoding

In [13]:
from sklearn.preprocessing import OrdinalEncoder
df = pd.DataFrame({'size':['small','medium','large','medium','small','large']})

In [14]:
df

     size
0   small
1  medium
2   large
3  medium
4   small
5   large

In [26]:
encoder = OrdinalEncoder(categories = [['small','medium','large']])

In [28]:
encoder.fit_transform(df[['size']])

array([[0.],
       [1.],
       [2.],
       [1.],
       [0.],
       [2.]])