Nominal and one hot encoding

In [4]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [6]:
df = pd.DataFrame({'color':['red','blue','green','red','blue']})

In [7]:
df

   color
0    red
1   blue
2  green
3    red
4   blue

In [8]:
# Create and instance of one hot encoding

In [10]:
encoder = OneHotEncoder()

In [14]:
encoded = encoder.fit_transform(df[['color']])

In [18]:
encoder.get_feature_names_out()

array(['color_blue', 'color_green', 'color_red'], dtype=object)

In [21]:
encoded_df = pd.DataFrame(encoded.toarray(),columns=encoder.get_feature_names_out())

In [22]:
pd.concat([df,encoded_df],axis=1)

   color  color_blue  color_green  color_red
0    red         0.0          0.0        1.0
1   blue         1.0          0.0        0.0
2  green         0.0          1.0        0.0
3    red         0.0          0.0        1.0
4   blue         1.0          0.0        0.0